In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import json
pd.set_option('display.max_columns', None)

In [4]:
# with open('purchase order_5.json') as f5:  
#       data = json.load(f5)
#     df=pd.DataFrame(data)
with open('purchase order_5.json') as f:  
      data = json.load(f)
df_pur_5=pd.DataFrame(data)

In [5]:
df_pur_5.shape

(1, 35)

In [6]:
df_pur_5

,id,tid,creationDate,lmd,criticalities,state,processType,purchaseOrderId,customerName,supplierName,purchaseOrderType,purchaseOrderLines,dataMismatchExceptionCount,lineStates,lineExceptionStatus,lob,amount,billTo,soldTo,currency,buyerCode,buyerName,incoTerms,daysToImpact,paymentTerms,shipComplete,requisitionNo,monetaryImpact,shipToSiteName,shipToSiteType,erpCreationDate,exceptionStatus,requisitionCreateDate,shipToSiteDescription,totalBoLineCount
0,a4b7a825f67930965747445709011120-PurchaseOrder...,a4b7a825f67930965747445709011120,2020-08-20T20:37:21.000+0000,2020-07-31T00:01:56.000+0000,[HotOrder],Shipped,supply,POA004000_ADH03,Acme Inc,ACOEM1,standardPO,"{'10': {'customerItemName': 'AC-CP-002', 'need...",0,[Shipped],[Late],Components,84100,AC_DC06,AC_DC06,USD,CN0012,Abby,EXW,6,Net 60,Y,R0057_SO,84100,AC_DC06,DC,2020-08-04T00:00:00.000+0000,Late,2020-08-04T00:00:00.000+0000,Ohio Distribution Center,1

In [7]:
# df_pur_6

NameError: name 'df_pur_6' is not defined

In [ ]:
# df_pur_7

In [ ]:
# df_del_5

In [8]:
# df_del_7

In [9]:
with open('purchase order_6.json') as f1:  
      data1 = json.load(f1)
df_pur_6=pd.DataFrame(data1)
with open('purchase order_7.json') as f2:  
      data2 = json.load(f2)
df_pur_7=pd.DataFrame(data2)
with open('delivery5.json') as f3:  
      data3 = json.load(f3)
df_del_5=pd.DataFrame(data3)
with open('delivery_7.json') as f4:  
      data4 = json.load(f4)
df_del_7=pd.DataFrame(data4)

In [10]:
df_pur_5.shape,df_pur_6.shape,df_pur_7.shape,df_del_5.shape,df_del_7.shape

((1, 35), (1, 37), (1, 37), (1, 33), (1, 33))

In [11]:
df_pur_5.isnull().sum(),df_pur_6.isnull().sum(),df_pur_7.isnull().sum()

(id                            0
 tid                           0
 creationDate                  0
 lmd                           0
 criticalities                 0
 state                         0
 processType                   0
 purchaseOrderId               0
 customerName                  0
 supplierName                  0
 purchaseOrderType             0
 purchaseOrderLines            0
 dataMismatchExceptionCount    0
 lineStates                    0
 lineExceptionStatus           0
 lob                           0
 amount                        0
 billTo                        0
 soldTo                        0
 currency                      0
 buyerCode                     0
 buyerName                     0
 incoTerms                     0
 daysToImpact                  0
 paymentTerms                  0
 shipComplete                  0
 requisitionNo                 0
 monetaryImpact                0
 shipToSiteName                0
 shipToSiteType                0
 erpCreationDate               0
 exceptionStatus               0
 requisitionCreateDate         0
 shipToSiteDescription         0
 totalBoLineCount              0
 dtype: int64,
 id                               0
 tid                              0
 creationDate                     0
 lmd                              0
 criticalities                    0
 state                            0
 processType                      0
 purchaseOrderId                  0
 customerName                     0
 supplierName                     0
 purchaseOrderType                0
 purchaseOrderLines               0
 dataMismatchExceptionCount       0
 dataMismatchExceptions           0
 dataMismatchExceptionCountMap    0
 lineStates                       0
 lineExceptionStatus              0
 amount                           0
 incoTerms                        0
 soldTo                           0
 erpCreationDate                  0
 daysToImpact                     0
 shipToSiteName                   0
 shipToSiteDescription            0
 buyerName                        0
 buyerCode                        0
 shipComplete                     0
 monetaryImpact                   0
 exceptionStatus                  0
 billTo                           0
 currency                         0
 requisitionNo                    0
 shipToSiteType                   0
 totalBoLineCount                 0
 lob                              0
 paymentTerms                     0
 requisitionCreateDate            0
 dtype: int64,
 id                               0
 tid                              0
 creationDate                     0
 lmd                              0
 criticalities                    0
 state                            0
 processType                      0
 purchaseOrderId                  0
 customerName                     0
 supplierName                     0
 purchaseOrderType                0
 purchaseOrderLines               0
 dataMismatchExceptionCount       0
 dataMismatchExceptions           0
 dataMismatchExceptionCountMap    0
 lineStates                       0
 lineExceptionStatus              0
 amount                           0
 incoTerms                        0
 soldTo                           0
 erpCreationDate                  0
 daysToImpact                     0
 shipToSiteName                   0
 shipToSiteDescription            0
 buyerName                        0
 buyerCode                        0
 shipComplete                     0
 monetaryImpact                   0
 exceptionStatus                  0
 billTo                           0
 currency                         0
 requisitionNo                    0
 shipToSiteType                   0
 totalBoLineCount                 0
 lob                              0
 paymentTerms                     0
 requisitionCreateDate            0
 dtype: int64)

In [12]:
# import random
# import time
# from datetime import datetime
# from datetime import timedelta
# def str_time_prop(start, end, time_format, prop):
#         stime = time.mktime(time.strptime(start, time_format))
#         etime = time.mktime(time.strptime(end, time_format))
#         ptime = stime + prop * (etime - stime)
#         return time.strftime(time_format, time.localtime(ptime))
# def random_date(start, end, prop):
#     return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop) 
# delivery_df = pd.DataFrame(columns=['Delivery Id','Purchase Order ID','Ship Date','Shipped Qty','Planned delivery Date','Actual Delivery Date'])
# for i in range(1000):
#     item = df_del_5.sample()
#     item1=df_pur_5.sample()
# #     item1=item.sample()
#     #current date
# #     booked_date=datetime.now()
# #     fm_dt = booked_date.strftime("%d/%m/%Y")
# #     booked_time_hours=booked_date.strftime('%H:%M:%S')
# #     delivery_date=(booked_date+timedelta(days=int(item1['days_to_deliver']))).strftime("%d/%m/%Y")
#     ship_qty= str(random.randint(1,100))
# #     + pd.util.testing.rands(4)
#     booked_date=datetime.now()
#     olo=print(random_date("1/1/2020 1:10 PM", "1/1/2021 1:10 AM", random.random()))
#     time = booked_date.strftime("%d/%m/%Y")
#     booked_time_hours=booked_date.strftime('%H:%M:%S')
#     delivery_id= "DE"+str(random.randint(1,100))+ pd.util.testing.rands(4)
#     pur_id= "PO"+str(random.randint(1,100))+ pd.util.testing.rands(4)
#     delivery_df.loc[len(delivery_df.index)] = [delivery_id,pur_id,olo,ship_qty,item['plannedDeliveryDate'].to_string(index=False),item['plannedDeliveryDate'].to_string(index=False)] 
# delivery_df

In [30]:
import random
from datetime import datetime
import numpy as np
def random_date_generator(start_date, range_in_days):
    days_to_add = np.arange(0, range_in_days)
    random_date = np.datetime64(start_date) + np.random.choice(days_to_add)
    return random_date
delivery = pd.DataFrame(columns=['Delivery Id','Purchase Order ID','Ship Date','Shipped Qty','Planned delivery Date','Actual Delivery Date'])
for i in range(1000):
    item = df_del_5.sample()
    item1=df_pur_5.sample()
    ship_qty= str(random.randint(1,100))
    booked_date=datetime.now()
    olo = random_date_generator('2021-10-19', 30)
    olo1 = random_date_generator('2021-11-19', 30)
    olo2 = random_date_generator('2021-12-19', 30)
    time = booked_date.strftime("%d/%m/%Y")
    booked_time_hours=booked_date.strftime('%H:%M:%S')
    delivery_id= "DE"+str(random.randint(1,100))+ pd.util.testing.rands(4)
    pur_id= "PO"+str(random.randint(1,100))+ pd.util.testing.rands(4)
    delivery.loc[len(delivery.index)] = [delivery_id,pur_id,olo,ship_qty,olo1,olo2] 
delivery

,Delivery Id,Purchase Order ID,Ship Date,Shipped Qty,Planned delivery Date,Actual Delivery Date
0,DE94QfmH,PO82DECe,2021-11-10,15,2021-11-27,2022-01-14
1,DE20Qpb7,PO58GJ7Z,2021-11-04,61,2021-12-04,2022-01-12
2,DE8hq15,PO197PXR,2021-11-02,87,2021-12-02,2021-12-27
3,DE52MWfO,PO8M9t0,2021-11-03,57,2021-12-06,2021-12-29
4,DE47vwII,PO97LYdd,2021-11-10,24,2021-11-28,2021-12-31
...,...,...,...,...,...,...
995,DE69RmCc,PO797pwk,2021-11-16,52,2021-12-04,2022-01-02
996,DE14Kaog,PO55mVnW,2021-11-05,61,2021-12-04,2022-01-13
997,DE31X6cB,PO36i7RE,2021-11-17,63,2021-11-23,2022-01-13
998,DE64lvmt,PO48zDVc,2021-11-06,59,2021-11-28,2021-12-27
999,DE3QRBA,PO893Rhc,2021-10-27,75,2021-12-07,2022-01-04

In [31]:
delivery.to_csv("delivery_df.csv",index=False)

In [15]:
# import numpy as np

# def random_date_generator(start_date, range_in_days):
#     days_to_add = np.arange(0, range_in_days)
#     random_date = np.datetime64(start_date) - np.random.choice(days_to_add)
#     return random_date
# for i in range(5):
#     print(random_date_generator('2012-01-13', 10))

In [16]:
# import numpy as np

# def random_date_generator(start_date, range_in_days):
#     days_to_add = np.arange(0, range_in_days)
#     random_date = np.datetime64(start_date) + np.random.choice(days_to_add)
#     return random_date
# for i in range(5):
#     print(random_date_generator('2012-01-13', 10))

In [17]:
# Product Id	Product Name	Product Description	Sell Price	Safety Stock Level

In [18]:
prod=pd.read_csv("products.csv")

In [19]:
prod.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [20]:
locs=pd.read_csv("location.csv")

In [21]:
locs.head()

,LocationID,Name,CostRate,Availability,ModifiedDate
0,1,Tool Crib,0.0,0.0,2008-04-30 00:00:00.000
1,2,Sheet Metal Racks,0.0,0.0,2008-04-30 00:00:00.000
2,3,Paint Shop,0.0,0.0,2008-04-30 00:00:00.000
3,4,Paint Storage,0.0,0.0,2008-04-30 00:00:00.000
4,5,Metal Storage,0.0,0.0,2008-04-30 00:00:00.000

In [22]:
prod.shape,locs.shape

((504, 25), (14, 5))

In [23]:
import random
import time
import numpy as np
products = pd.DataFrame(columns=['Product Id','Product Name','Product_number','Product Description','Sell Price','Safety Stock Level'])
for i in range(1000):
    lol= prod.sample()
    sell_price= str(random.randint(100,499))
#     delivery_id= "DE"+str(random.randint(1,100))+ pd.util.testing.rands(4)
    pro_id= "PR"+str(random.randint(1,100))+ pd.util.testing.rands(3)
    products.loc[len(products.index)] = [pro_id,lol['Name'].to_string(index=False),lol['ProductNumber'].to_string(index=False),lol['Name'].to_string(index=False),sell_price,lol['SafetyStockLevel'].to_string(index=False)]
products

C:\Users\chokkam.nagaraju\OneDrive - HCL Technologies Ltd\Desktop\sample_project\env\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

,Product Id,Product Name,Product_number,Product Description,Sell Price,Safety Stock Level
0,PR228CU,"Road-650 Black, 52",BK-R50B-52,"Road-650 Black, 52",206,100
1,PR20LS9,"HL Touring Frame - Blue, 54",FR-T98U-54,"HL Touring Frame - Blue, 54",157,500
2,PR632Mu,Flat Washer 4,FW-3800,Flat Washer 4,180,1000
3,PR15YBV,Flat Washer 2,FW-1400,Flat Washer 2,154,1000
4,PR44Vd5,ML Headset,HS-2451,ML Headset,281,500
...,...,...,...,...,...,...
995,PR70X1i,"Road-650 Black, 44",BK-R50B-44,"Road-650 Black, 44",325,100
996,PR10ijH,Thin-Jam Lock Nut 2,LJ-1428,Thin-Jam Lock Nut 2,116,1000
997,PR60LWN,Crown Race,CR-9981,Crown Race,428,1000
998,PR77cLQ,Decal 1,DC-8732,Decal 1,322,1000
999,PR63y3I,Hex Nut 19,HN-9168,Hex Nut 19,140,1000

In [24]:
products.to_csv("products_df.csv",index=False)

In [25]:
locations=pd.DataFrame(columns=['Location_id','Location_Name'])
for i in range(1000):
    poll=locs.sample()
    loc_id="LO"+str(random.randint(1,100))+pd.util.testing.rands(3)
    locations.loc[len(locations.index)] = [loc_id,poll['Name'].to_string(index=False)]
locations

    Location_id           Location_Name
0       LO35nKC  Finished Goods Storage
1       LO48u9Y   Miscellaneous Storage
2       LO21Y05       Specialized Paint
3       LO87iW9              Paint Shop
4       LO29jUL           Frame Forming
..          ...                     ...
995     LO74Yjt           Metal Storage
996     LO10khL           Metal Storage
997     LO90h1v           Paint Storage
998     LO19TiP          Final Assembly
999     LO32noJ        Debur and Polish

[1000 rows x 2 columns]

In [26]:
locations.to_csv('locations_df.csv',index=False)